@import "normalizez.scss"
@import "resets.scss"

*
  box-sizing: border-box

@font-face 
  font-family: 'MontserratT'
  src: url('../fonts/Montserrat-Regular.ttf')
  font-weight: regular
  font-style: normal

@font-face 
  font-family: 'MontserratT'
  src: url('../fonts/Montserrat-SemiBold.ttf')
  font-weight: bold
  font-style: normal

html
  font-family: 'MontserratT'
  font-weight: regular

$color-blue: #5290EA
$color-orange: #F28B64

.container
  max-width: 1140px
  margin: 0 auto

/* ПЕРВАЯ СЕКЦИЯ */
.main-section
  position: relative
  background-color: #F0F0F0
  min-height: 800px
  padding-top: 16px
  overflow: hidden
  &__nav-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 69px
  &__logo
    width: 134px
  &__content-container
    display: flex
    flex-direction: row
    position: relative
  &__first-elipse
    position: absolute
    top: 129px
    right: 34px
  &__big-elipse
    position: absolute
    top: 650px
    right: -120px
    width: 282px
    height: 282px

.nav-menu
  &__list
    display: flex
    flex-direction: row
  &__list-item
    margin-right: 64px
    font-size: 18px
    font-weight: bold
    &:last-child
      margin-right: 0
  &__list-link
    text-decoration: none
    color: black

.left-wrapper
  position: relative
  &__img
    position: relative
    z-index: 5
  &__rectangle
    &_color_blue
      position: absolute
      z-index: 3
      top: 147px
      left: -47px
    &_color_orange
      position: absolute
      z-index: 4
      top: 160px
      left: -30px
    &_color_grey
      position: absolute
      z-index: 2
      top: 203px
      left: 17px

.rectangle
  border-radius: 100px
  height: 220px
  width: 610px
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
  background: #E2E2E2
  &_color_blue
    width: 565px
    background: $color-blue
    transform: rotate(-64deg)
  &_color_orange
    width: 618px
    background: $color-orange
    transform: rotate(-50.81deg)
  &_color_grey
    transform: rotate(-36.15deg)

.right-wrapper
  width: 372px
  position: absolute
  top: 150px
  right: 76px
  z-index: 5
  &__icons-box
    margin-bottom: 1px
    padding-left: 10px
  &__title
    margin-bottom: 5px
  &__text
    font-size: 16px
    line-height: 20px
    margin-bottom: 20px

.icons
  &__item
    margin-right: 17px
    &:last-child
      margin-right: 0

.title
  position: relative
  font-size: 72px
  line-height: 68px
  font-weight: bold
  &__hr
    position: absolute
    width: 65px
    border: none
    border-top: 1px solid #000
    margin: 0
    bottom: 0
    &_top
      bottom: 70px

.buttons
  display: inline-flex
  &__main-btn
    width: 200px
    height: 60px
    border-radius: 100px
    font-size: 18px
    line-height: 105.19%
    text-align: center
    color: #fff
    background: $color-orange
    border: none
    padding: 11px 24px
    margin-right: 32px
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
    font-weight: bold
  &__icon-btn
    display: inline-flex
    align-items: center
  &__img
    margin-right: 12px
    height: 46px
  &__text
    font-size: 16px
    line-height: 105.19%

/* ВТОРАЯ СЕКЦИЯ */
.second-section
  position: relative
  min-height: 700px
  padding-top: 32px
  &__title
    margin-bottom: 40px
  &__cards-box
    display: inline-flex
    gap: 30px
    margin-bottom: 25px
  &__icons-box
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
  &__first-elipse
    position: absolute
    z-index: -1
    top: 50px
    right: 55px
  &__second-elipse
    position: absolute
    z-index: -1
    top: 364px
    left: 70px

.cards-item
  position: relative
  width: 360px
  height: 360px
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25))
  background: #E2E2E2
  border-radius: 10px
  display: flex
  align-items: flex-end
  font-weight: bold
  &__img
    height: 335px
  &__text
    position: absolute
    top: 145px
    right: -45px
    width: 280px
    font-size: 36px
    line-height: 44px
    text-align: center
    transform: rotate(90deg)
  &_orange
    background: $color-orange
  &_blue
    background: $color-blue

.icons-item
  display: inline-flex
  align-items: center
  gap: 20px
  &__img
    width: 80px
  &__text
    font-size: 18px
    line-height: 22px
  &__span
    font-size: 48px
    line-height: 59px
    font-weight: bold

/* ТРЕТЬЯ СЕКЦИЯ */
.third-section
  position: relative
  min-height: 640px
  background: #F0F0F0
  z-index: -2
  overflow: hidden
  &__container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 46px 19px 46px 167px
  &__left-wrapper
    position: relative
  &__title
    margin-bottom: 20px
  &__text
    max-width: 480px
    margin-bottom: 30px
    font-size: 18px
    line-height: 22px
  &__circles
    position: absolute
    z-index: -1
    top: -110px
    right: 70px
  &__big-elipse
    position: absolute
    top: -120px
    right: -120px
    width: 282px
    height: 282px

/* ФУТЕР */
.footer
  position: relative
  &__container
    min-height: 272px
    display: flex
    align-items: center
    justify-content: flex-end
  &__img
    position: absolute
    left: -50px
    bottom: 0
  &__title
    margin-bottom: 20px